In [ ]:
1+1

In [ ]:
a = 4

In [ ]:
type(a)

In [ ]:
c = 2.1

In [ ]:
type(c)

In [ ]:
a = 1.0 + 0.5j

In [ ]:
type(a)

In [ ]:
a.real

In [ ]:
a.imag

In [ ]:
3 > 4

In [ ]:
7*4

In [ ]:
float(1)

In [ ]:
3/2

In [ ]:
3/2.0

In [ ]:
3 // 2

In [ ]:
3.0 // 2

In [ ]:
l = ['red', 'blue', 'green', 'black', 'white']

In [ ]:
l

In [ ]:
type(l)

In [ ]:
l[2]

In [ ]:
l[-1]

In [ ]:
l[2:4]

In [ ]:
l[1:-1]

In [ ]:
l[2:]

In [ ]:
l[:3]

In [ ]:
l[::2]

In [ ]:
l

In [ ]:
l.append('yellow')

In [ ]:
l

In [ ]:
l.pop()

In [ ]:
l

In [ ]:
l.extend(['orange', 'pink'])

In [ ]:
l

In [ ]:
l = l[:-2]

In [ ]:
l

In [ ]:
l.reverse()

In [ ]:
l

In [ ]:
l * 2

In [ ]:
l.sort()

In [ ]:
l

In [ ]:
r.

In [ ]:
a = 'hello world'

In [ ]:
a

In [ ]:
a.replace('l', 'z')

In [ ]:
'my list %s is big' % l

In [ ]:
l

In [ ]:
tel = {'x': 1, 'y': 2, 'z': 3}

In [ ]:
tel

In [ ]:
tel[x]

In [ ]:
tel['x']

In [ ]:
tel.keys()

In [ ]:
tel.values()

In [ ]:
'x' in tel

In [ ]:
'a' in tel

In [ ]:
s = set(['a', 'b', 'c'])

In [ ]:
s

In [ ]:
a = [1, 2, 3]

In [ ]:
a

In [ ]:
id(a)

In [ ]:
a = [4, 5, 6]

In [ ]:
a

In [ ]:
id(a)

In [ ]:
a[:] = [7, 8]

In [ ]:
a

In [ ]:
id(a)

In [ ]:
a = 1

In [ ]:
b = 1

In [ ]:
a == b

In [ ]:
a is b

In [ ]:
b = 2

In [ ]:
a is b

In [ ]:
b = a

In [ ]:
a is b

In [ ]:
items = tel.items()

In [ ]:
items

In [ ]:
type(items)

In [ ]:
item = items[1]

In [ ]:
item

In [ ]:
type(item)

In [ ]:
item[1]

In [ ]:
item[0]

In [ ]:
item.count(3)

In [ ]:
tel.sort()

In [ ]:
sorted(tel)

In [ ]:
tel

In [ ]:
sorted(tel.items())

In [ ]:
2^2

In [ ]:
2**2

In [ ]:
import numpy as np

In [ ]:
np

In [ ]:
np.linspace?

In [ ]:
np.linspace(1, 10, 2)

In [ ]:
a = np.ones((3,3))

In [ ]:
a

In [ ]:
np.zeros((2,3))

In [ ]:
np.eye(5)

In [ ]:
np.diag(np.arange(10))

In [ ]:
np.random.rand(3)

In [ ]:
np.random.randn(3)

In [ ]:
np.random.seed(123)

In [ ]:
np.random.rand(3)

In [ ]:
np.random.rand(3)

In [ ]:
np.random.seed(123)

In [ ]:
np.random.rand(3)

In [ ]:
np.empty(np.random.rand(3))

In [ ]:
np.empty([2, 2])

In [ ]:
np.empty([2, 2], dtype=int)

In [ ]:
%matplotlib inline

In [ ]:
x = np.linspace(0, 3, 20)

In [ ]:
x

In [ ]:
y = np.linspace(0, 9, 20)

In [ ]:
y

In [ ]:
plot(x,y)

In [ ]:
plt.plot(x,y)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(x,y,'x')

In [ ]:
a = np.diag(np.arange(10))

In [ ]:
a

In [ ]:
a[1,2]

In [ ]:
a[:,2]

In [ ]:
a[1:2]

In [ ]:
x

In [ ]:
x % 3 == 0

In [ ]:
pwd

In [1]:
import pandas as pd

In [ ]:
orders = pd.read_table('http://bit.ly/chiporders')

In [ ]:
orders.head()

In [ ]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols)

In [ ]:
users.head()

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
ufo.head()

In [ ]:
ufo['City']

In [ ]:
ufo.City

In [ ]:
ufo.shape

In [ ]:
ufo['Location'] = ufo.City + ', ' + ufo.State

In [ ]:
ufo.head()

In [ ]:
ufo.describe

In [ ]:
ufo.rename(columns = {'Colors Reported':'ColorsReported'}, inplace=True)

In [ ]:
ufo.head()

In [ ]:
ufo.columns = ufo.columns.str.replace(' ', '')

In [ ]:
ufo.columns

In [ ]:
ufo.head()

In [ ]:
ufo.columns = ufo.columns.str.lower()

In [ ]:
ufo.head()

In [ ]:
ufo.drop(['colorsreported', 'shapereported'], axis=1, inplace=True)

In [ ]:
ufo.head()

In [ ]:
ufo.drop([0,1], inplace=True)

In [ ]:
ufo.head()

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head()

In [ ]:
movies.title.sort_values(ascending=False)

In [ ]:
movies.sort_values('duration', ascending=False)

In [ ]:
movies[movies.genre == 'Drama'].duration.shape

In [ ]:
movies.loc[movies.duration >= 200, ['title', 'actors_list', 'duration']].sort_values('duration', ascending=False)

In [ ]:
movies[(movies.duration >= 200) | (movies.genre == 'Drama')]

In [ ]:
movies[movies.genre.isin(['Drama', 'Crime', 'Horror'])]

In [ ]:
for index, row in movies.iterrows():
    print (index, row.title, row.genre)

In [ ]:
movies[movies.title.str.contains('Lion')]

In [ ]:
movies.head()

In [ ]:

movies.groupby('genre').mean()

In [ ]:
%matplotlib inline

In [ ]:
movies.groupby('genre').mean().plot(kind='bar')

In [ ]:
movies.genre.value_counts(normalize=True)

In [ ]:
movies.genre.unique()

In [ ]:
pd.crosstab(movies.genre, movies.content_rating)

In [ ]:
movies.duration.describe()

In [ ]:
movies.genre.value_counts().plot(kind='bar')

In [ ]:
movies.isnull()

In [ ]:
movies.isnull().sum()

In [ ]:
movies[movies.content_rating.isnull()]

In [ ]:
movies.dropna(subset=['content_rating']).shape

In [ ]:
movies.content_rating.fillna(value='UNRATED', inplace=True)

In [ ]:
movies[movies.content_rating.isnull()]

In [ ]:
movies['title']

In [ ]:
movies[187:189]['title']

In [ ]:
movies.loc[187]

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
drinks.set_index('country', inplace=True)

In [7]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [8]:
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [ ]:
ufo.head()

In [ ]:
ufo[ufo.city=='New York']

In [ ]:
ufo.loc[ufo.city=='New York', 'state']

In [ ]:
ufo.iloc[:,[0]]

In [9]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [10]:
drinks.loc['Albania', 'beer_servings']

89

In [24]:
drinks.ix[drinks.continent == 'Asia'].size

220

In [26]:
drinks.loc[(drinks.beer_servings > 100) & (drinks.wine_servings > 100)]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Andorra,245,138,312,12.4,Europe
Argentina,193,25,221,8.3,South America
Australia,261,72,212,10.4,Oceania
Austria,279,75,191,9.7,Europe
Belgium,295,84,212,10.5,Europe
Chile,130,124,172,7.6,South America
Croatia,230,87,254,10.2,Europe
Cyprus,192,154,113,8.2,Europe
Czech Republic,361,170,134,11.8,Europe
Denmark,224,81,278,10.4,Europe
France,127,151,370,11.8,Europe
Germany,346,117,175,11.3,Europe
Greece,133,112,218,8.3,Europe
Hungary,234,215,185,11.3,Europe
Ireland,313,118,165,11.4,Europe
Luxembourg,236,133,271,11.4,Europe
Malta,149,100,120,6.6,Europe
Netherlands,251,88,190,9.4,Europe
New Zealand,203,79,175,9.3,Oceania
Norway,169,71,129,6.7,Europe
Portugal,194,67,339,11.0,Europe
Romania,297,122,167,10.4,Europe
Serbia,283,131,127,9.6,Europe
Slovakia,196,293,116,11.4,Europe
Slovenia,270,51,276,10.6,Europe
Spain,284,157,112,10.0,Europe
Sweden,152,60,186,7.2,Europe
Switzerland,185,100,280,10.2,Europe
United Kingdom,219,126,195,10.4,Europe
Uruguay,115,35,220,6.6,South America

In [35]:
T = [0.0, 32.0, 50.0, 100.0]

In [36]:
F = map(lambda x: float(9)/5 * x + 32, T)
print F

[32.0, 89.6, 122.0, 212.0]

In [38]:
C = map(lambda x: float(5)/9 * (x - 32), F)
print C

[0.0, 32.0, 50.0, 100.0]

In [51]:
[ (float(9)/5 * x + 32) for x in T]

[32.0, 89.6, 122.0, 212.0]

In [39]:
fib = [0,1,1,2,3,5,8,13,21,34,55]

In [45]:
filter(lambda x: x % 2, fib)

[1, 1, 3, 5, 13, 21, 55]

In [46]:
filter(lambda x: x % 2 == 0, fib)

[0, 2, 8, 34]

In [47]:
reduce(lambda x,y:x+y, range(1,101))

5050