In [ ]:
import numpy as np

In [ ]:
np

In [ ]:
np.linspace?

In [ ]:
np.linspace(1, 10, 2)

In [ ]:
a = np.ones((3,3))

In [ ]:
a

In [ ]:
np.zeros((2,3))

In [ ]:
np.eye(5)

In [ ]:
np.diag(np.arange(10))

In [ ]:
np.random.rand(3)

In [ ]:
np.random.randn(3)

In [ ]:
np.random.seed(123)

In [ ]:
np.random.rand(3)

In [ ]:
np.random.rand(3)

In [ ]:
np.random.seed(123)

In [ ]:
np.random.rand(3)

In [ ]:
np.empty(np.random.rand(3))

In [ ]:
np.empty([2, 2])

In [ ]:
np.empty([2, 2], dtype=int)

In [ ]:
%matplotlib inline

In [ ]:
x = np.linspace(0, 3, 20)

In [ ]:
x

In [ ]:
y = np.linspace(0, 9, 20)

In [ ]:
y

In [ ]:
plot(x,y)

In [ ]:
plt.plot(x,y)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(x,y,'x')

In [ ]:
a = np.diag(np.arange(10))

In [ ]:
a

In [ ]:
a[1,2]

In [ ]:
a[:,2]

In [ ]:
a[1:2]

In [ ]:
x

In [ ]:
x % 3 == 0

In [ ]:
pwd

In [ ]:
import pandas as pd

In [ ]:
orders = pd.read_table('http://bit.ly/chiporders')

In [ ]:
orders.head()

In [ ]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols)

In [ ]:
users.head()

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
ufo.head()

In [ ]:
ufo['City']

In [ ]:
ufo.City

In [ ]:
ufo.shape

In [ ]:
ufo['Location'] = ufo.City + ', ' + ufo.State

In [ ]:
ufo.head()

In [ ]:
ufo.describe

In [ ]:
ufo.rename(columns = {'Colors Reported':'ColorsReported'}, inplace=True)

In [ ]:
ufo.head()

In [ ]:
ufo.columns = ufo.columns.str.replace(' ', '')

In [ ]:
ufo.columns

In [ ]:
ufo.head()

In [ ]:
ufo.columns = ufo.columns.str.lower()

In [ ]:
ufo.head()

In [ ]:
ufo.drop(['colorsreported', 'shapereported'], axis=1, inplace=True)

In [ ]:
ufo.head()

In [ ]:
ufo.drop([0,1], inplace=True)

In [ ]:
ufo.head()

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head()

In [ ]:
movies.title.sort_values(ascending=False)

In [ ]:
movies.sort_values('duration', ascending=False)

In [ ]:
movies[movies.genre == 'Drama'].duration.shape

In [ ]:
movies.loc[movies.duration >= 200, ['title', 'actors_list', 'duration']].sort_values('duration', ascending=False)

In [ ]:
movies[(movies.duration >= 200) | (movies.genre == 'Drama')]

In [ ]:
movies[movies.genre.isin(['Drama', 'Crime', 'Horror'])]

In [ ]:
for index, row in movies.iterrows():
    print (index, row.title, row.genre)

In [ ]:
movies[movies.title.str.contains('Lion')]

In [ ]:
movies.head()

In [ ]:

movies.groupby('genre').mean()

In [ ]:
%matplotlib inline

In [ ]:
movies.groupby('genre').mean().plot(kind='bar')

In [ ]:
movies.genre.value_counts(normalize=True)

In [ ]:
movies.genre.unique()

In [ ]:
pd.crosstab(movies.genre, movies.content_rating)

In [ ]:
movies.duration.describe()

In [ ]:
movies.genre.value_counts().plot(kind='bar')

In [ ]:
movies.isnull()

In [ ]:
movies.isnull().sum()

In [ ]:
movies[movies.content_rating.isnull()]

In [ ]:
movies.dropna(subset=['content_rating']).shape

In [ ]:
movies.content_rating.fillna(value='UNRATED', inplace=True)

In [ ]:
movies[movies.content_rating.isnull()]

In [ ]:
movies['title']

In [ ]:
movies[187:189]['title']

In [ ]:
movies.loc[187]

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
drinks.head()

In [ ]:
drinks.set_index('country', inplace=True)

In [ ]:
drinks.head()

In [ ]:
drinks.continent.value_counts().sort_index()

In [ ]:
ufo.head()

In [ ]:
ufo[ufo.city=='New York']

In [ ]:
ufo.loc[ufo.city=='New York', 'state']

In [ ]:
ufo.iloc[:,[0]]

In [ ]:
drinks.head()

In [ ]:
drinks.loc['Albania', 'beer_servings']

In [ ]:
drinks.ix[drinks.continent == 'Asia'].size

In [ ]:
drinks.loc[(drinks.beer_servings > 100) & (drinks.wine_servings > 100)]

In [ ]:
T = [0.0, 32.0, 50.0, 100.0]

In [ ]:
F = map(lambda x: float(9)/5 * x + 32, T)
print F

In [ ]:
C = map(lambda x: float(5)/9 * (x - 32), F)
print C

In [ ]:
[ (float(9)/5 * x + 32) for x in T]

In [ ]:
fib = [0,1,1,2,3,5,8,13,21,34,55]

In [ ]:
filter(lambda x: x % 2, fib)

In [ ]:
filter(lambda x: x % 2 == 0, fib)

In [ ]:
reduce(lambda x,y:x+y, range(1,101))

In [1]:
import scipy.io

In [2]:
mat = scipy.io.loadmat('/Users/mgudipati/Documents/MATLAB/machine-learning-ex3/ex3/ex3data1.mat')

In [4]:
type(mat)

dict

In [5]:
mat.keys

In [6]:
mat.iteritems

In [7]:
mat

{'X': array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]]),
 '__globals__': [],
 '__header__': 'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sun Oct 16 13:09:09 2011',
 '__version__': '1.0',
 'y': array([[10],
        [10],
        [10],
        ...,
        [ 9],
        [ 9],
        [ 9]], dtype=uint8)}

In [8]:
mat.keys()

['y', 'X', '__version__', '__header__', '__globals__']

In [9]:
mat.X

AttributeError: 'dict' object has no attribute 'X'

In [12]:
mat['X']

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [14]:
import pandas as pd
df = pd.DataFrame(mat['X'])

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0